/* Start Variables */
  :root {
    --WhiteColor: hsl(0, 0%, 100%);
    --LightGray: hsl(212, 45%, 89%);
    --blueColor: hsl(220, 15%, 55%);
    --DarkBlue: hsl(218, 44%, 22%);
  }
/* End Variables */ 
body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--LightGray);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* Start Card */
  main {
    width: 300px;
    background-color: var(--WhiteColor);
    border-radius: 18px;
    text-align: center;
    padding: 15px;
  }
  main img{
    max-width: 100%;
    border-radius: 10px;
  }
  main section {
    font-size: 15px;
    padding: 10px 20px; 
  }
  main section h2{
    color: var(--DarkBlue);
    padding-bottom: 10px;
  }
  main section p{
    color: var(--blueColor);
  }
/*  End Card */
